@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 500;
  src: local('Spectral Medium'), local('Spectral-Medium'),
    url('/fonts/spectral-v4-latin-500.woff2') format('woff2'),
    url('/fonts/spectral-v4-latin-500.woff') format('woff'),
    url('/fonts/spectral-v4-latin-500.ttf') format('truetype')
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: local('Spectral Bold'), local('Spectral-Bold'),
    url('/fonts/spectral-v4-latin-700.woff2') format('woff2'),
    url('/fonts/spectral-v4-latin-700.woff') format('woff'),
    url('/fonts/spectral-v4-latin-700.ttf') format('truetype')
}